extends layout

block content
  h2 どこが、何に繋がっているか確認しながら開発しましょう！


  h3 【express＆pug構成図】
  a(href="https://github.com/risarisato/winter-contest"): img(src="/images/kousei.png")
  p.class
  | <br>
  |
  |
  |
  |
  |
  h6 ひとこと
  h6 express＆pugの構成が特に難しかった。socket.ioをwwwに入れるのがポイント
  h6 約1年間、先生・運営・受講生、授業やコメント/slackとか、
  h6 モチベーション維持できました。1人でやりきれたのは、みなさまのおかげです。
  h6 ありがとうございます！今年も続けられたらいいな。